* {
  margin: 0;
  padding: 0;

}

html {
  font-size: 62.5%;
}

body {
font-family: 'Lato', sans-serif;
font-size: 1.6rem;
font-weight: 400;
background-image: linear-gradient(to right bottom, #2998ff, #5643fa);

}

h1 {
  font-size: 10rem;
  font-weight: 900;
  margin: 5rem;
}

.text {
  background-image: linear-gradient(to right, #ffb900, #ff7730);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;

  text-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
}
.text-p {
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;

  text-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
}

p {
  margin-bottom: 3rem;
  font-size: 5rem;
  font-weight: 700;
}

.container {
  width: 70%;
  margin: auto;
  height: 100%;

  text-align: center;
}

.dice {
  display: inline-block;
  margin: 10rem;
}

footer {
  padding: 5rem;
  text-align: center;
}

.footer-p {
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
}
